<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    {% include "partials/nav.html" %}
    <main>
      {% block content %}
      <p>
        Here is some placeholder content that will render if a template doesn’t
        define a block.
      </p>
      {% endblock %}
    </main>
    {% include "partials/footer.html" %}
  </body>
</html>
